.trends-section {
    padding: 20px;
    background-color: white;
    height: auto;
    background-size: cover;
    background-position: center;
}

.trends-section__title {
    margin-bottom: 15px;
    color: rgb(95, 75, 74);
    text-shadow: 20cap;
    font-size: 24px;
    text-align: center;
}

.trends-section__list {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.trend-card {
    flex: 0 0 200px;
    position: relative;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(242, 221, 237, 0.925);
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
    font-weight: bold;
}

.trend-card:hover {
    transform: scale(1.01);
}

.trend-card__title {
    background: rgb(242, 221, 237, 0.925);
    padding: 5px 8px;
    border-radius: 4px;
    width: 100%;
    color: rgb(95, 75, 74);
    text-align: center;
}